* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;

}
/* Header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255, 255, 255, 1);
    backdrop-filter: blur(20px);
    z-index: 1000;
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.header-scrolled {
    box-shadow: 0 2px 20px rgb(0,0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #23ec;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
color: #333;
font-weight: 800;
transition: color 0.3s ease;
position: relative;
}

.nav-links a:hover {
    color: aliceblue;
}
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 20px;
    bottom: -5px;
    left: 0;
    background-color: antiquewhite;
    transition: width 0.3s ease;
}
.nav-links a:hover::after {
    width: 100%;
}

.cta-btn {
    background-color: #23ec;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.cta-btn:hover {
    background: #e3f73e;
    transform: translate(-2px);
    box-shadow: 0 8px 25px rgb(red, green, blue);
}
